<a href="https://colab.research.google.com/github/ummagonisriharika/assignment/blob/master/Assignment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Develop a code for below scenario

In [ ]:
year=int(input("enter year : "))
r=year%12
d={0:"monkey",1:"rooster",2:"dog",3:"pig",4:"rat",5:"ox",6:"tiger",7:"rabbit",8:"dragon",9:"snake",10:"horse",11:"sheep"}
print(r)
print(d[r])

enter year : 2034
6
tiger

2.A Quick Fox Transport Co. wants to develop an application for calculating amount
based on distance and weight of goods. The charges (Amount) to be calculated as per
rates given below.
Input: Distance to be travel: 520
Weight of the goods: 50
Output: Amount to be charged: 3120 /-

In [ ]:
distance=int(input("enter the distance to be travelled : "))
weight=int(input("enter the weight of the goods : "))
if distance>=500:
 if weight>=100:
    cost=5*distance
 elif weight>=10 and weight<100:
    cost=6*distance
 else:
    cost=8*distance
else :
     if weight>=100:
        cost=8*distance
     else :
        cost=5*distance
print("Amount to be charged : ",cost)

enter the distance to be travelled : 520
enter the weight of the goods : 50
Amount to be charged :  3120

3.The Entertainment Paradise
A theater in Delhi wants to develop a computerized Booking System. The theater offers
different types of seats. The Ticket rates are- Stalls- Rs. 625/-, Circle- Rs.750/-, Upper
Class- Rs.850/- and Box- Rs.1000/-. A discount is given 10% of total amount if tickets
are purchased on Cash. In case of credit card holders 5% discount is given.
Input: Type of Seat: Circle
Payment mode: cash
Output: Cost of ticket: 675

In [ ]:
ts=["stalls","circle","upperclass","box"]
payment=["cash","credit"]
seat=input(str("Type of seat : "))
mode=input(str("Payment mode : "))
if seat in ts[0]:
  if mode in payment[0]:
   discount=625*10/100
   cost=625-discount
  else:
   discount=625*5/10
   cost=625-discount
elif seat in ts[1]:
  if mode in payment[0]:
    discount=750*10/100
    cost=750-discount
  else:
    discount=750*5/100
    cost=750-discount
elif seat in ts[2]:
  if mode in payment[0]:
    discount=850*10/100
    cost=850-discount
  else:
    discount=850*5/100
    cost=850-discount
else:
  if mode in payment[0]:
    discount=1000*10/100
    cost=1000-discount
  else:
    discount=1000*5/100
    cost=1000-discount
print("cost of ticket : ",cost)

Type of seat : circle
Payment mode : cash
cost of ticket :  675.0

4.Develop a program that calculates the energy needed to heat water from an initial
temperature to a final temperature. Your program should prompt the user to enter the
amount of water in kilograms and the initial and final temperatures of the water. The
formula to compute the energy is

Q = M * (finalTemperature – initialTemperature) * 4184.

where M is the weight of water in kilograms, temperatures are in degrees Celsius, and
energy Q is measured in joules. (L6)

In [ ]:
M=int(input("enter weight of water : "))
I=int(input("enter initial temperature : "))
F=int(input("enter final temperature : "))
Q=M*(F-I)*4184
print("energy measured in joules : ",Q)

enter weight of water : 8
enter initial temperature : 20
enter final temperature : 80
energy measured in joules :  2008320

5.Develop a program that prompts user to enter month and print
a. “Winter ” - December ,January and February
b. “Spring” - March ,April and May
c. “Summer” --- June ,July, August
d. “Autumn ” -- September ,October, November

In [ ]:
winter=["December","January","February"]
spring=["March","April","May"]
summer=["June","July","August"]
autumn=["September","October","November"]
month=input("enter the month : ")
if month in winter:
    print("It is a winter season")
elif month in spring:
    print("It is a spring season")
elif month in summer:
    print("It is a summer season")
else:
    print("It is a autumn season")

enter the month : December
It is a winter season

6.Body Mass Index

In [ ]:
weight=int(input("enter the weight in pounds"))
height=float(input("enter the height in inches"))
w=(weight*0.45359237)
print(w)
h=(height*0.0254)
print("height of person : ",h)
BMI=w/(h**2)
print("Body Mass Index of person : ",BMI )
if BMI<18.5:
    print("underweight")
if BMI>=18.5 and BMI<25.0:
    print("normal")
if BMI>=25.0 and BMI<30.0:
    print("overweight")
if BMI>30.0:
    print("obese")

enter the weight in pounds100
enter the height in inches5.4
45.359237
height of person :  0.13716
Body Mass Index of person :  2411.0753759916297
obese

7.Write a program that reads an integer between 100 and 1000 and adds all the digits in the
integer ( ex: input 745 # output =16 (7+4+5) )

In [ ]:
number=int(input("enter a number between 100 and 1000 : "))
remainder=0
sum=0
if(number>100 and number<1000):
    while number>0:
        remainder=number%10
        sum=sum+remainder
        number=number//10
    print(sum)
else:
    print("the number entered is not in the range")

enter a number between 100 and 1000 : 200
2

8.Print all palindrome numbers between 1 to 1000.

In [ ]:
rem=0
for i in range(1,1000):
    n=i
    rev=0
    while n>0:
        rem=n%10
        rev=rev*10+rem
        n=n//10
    if i==rev:
        print(i)

1
2
3
4
5
6
7
8
9
11
22
33
44
55
66
77
88
99
101
111
121
131
141
151
161
171
181
191
202
212
222
232
242
252
262
272
282
292
303
313
323
333
343
353
363
373
383
393
404
414
424
434
444
454
464
474
484
494
505
515
525
535
545
555
565
575
585
595
606
616
626
636
646
656
666
676
686
696
707
717
727
737
747
757
767
777
787
797
808
818
828
838
848
858
868
878
888
898
909
919
929
939
949
959
969
979
989
999

9.Print all Armstrong numbers between 1 to 1000.

In [ ]:
rem=0
for i in range(1,1000):
    n=i
    rev=0
    while n>0:
        rem=n%10
        rev=rev+rem**3
        n=n//10
    if i==rev:
        print(i)

1
153
370
371
407

10.Write a Java program which iterates the integers from 1 to 100. For multiples of three
print &quot;Fizz&quot; instead of the number and print &quot;Buzz&quot; for the multiples of five. When
number is divided by both three and five, print &quot;fizz buzz&quot;.

In [ ]:
for i in range(1,100):
    if i%3==0 and i%5==0:
        print("fizz buzz")
    elif i%3==0:
        print("fizz")
    elif i%5==0:
        print("buzz")

fizz
buzz
fizz
fizz
buzz
fizz
fizz buzz
fizz
buzz
fizz
fizz
buzz
fizz
fizz buzz
fizz
buzz
fizz
fizz
buzz
fizz
fizz buzz
fizz
buzz
fizz
fizz
buzz
fizz
fizz buzz
fizz
buzz
fizz
fizz
buzz
fizz
fizz buzz
fizz
buzz
fizz
fizz
buzz
fizz
fizz buzz
fizz
buzz
fizz
fizz

11.Spider Problem: A spider present at the bottom of the well of height H, needs to get out
of it, using the slippery wall of the well. It decides to climb up the well; it goes up U
meters and slips down D meters in one single step. So, in each step it covers (U-D)
meters, and if the spider gets out of the well by covering U meters in the last step it
doesn’t a slip back. For example, if the spider climbs up 5 meters and slips down by 3
meters in a single step, it covers (U - D) m in each step and 96 m in 48 steps, but in the
49th step it climbs up 5 m and reaches out of the well and it will not slip down and the
step is counted as one step. 
Input: Each test case will contain 3 integers ’H’ height of the well, next ’U’ meters
climbs up in each step, and the last ’D’ meters slips down in each step.
Output: The number of steps &#39;N&#39; required to get out of the well.
Example 1:
  Input: Ouput
200 50 1 5
Example 2:
  Input: Output
500 20 15 98

In [ ]:
h=int(input("enter height of the well : "))
u=int(input("enter the meters spider climb up for each step : "))
d=int(input("enter the meters the spider slips down for each step : "))
s=0
t=0
p=0
while t<=h:
    t=t+u
    if(t<=h):
        t=t-d
    s=s+1
print(s)

enter height of the well : 500
enter the meters spider climb up for each step : 20
enter the meters the spider slips down for each step : 15
98