<a href="https://colab.research.google.com/github/ummagonisriharika/assignment/blob/master/assignment_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Area of Triangle :

Given the lengths of three sides of a triangle, calculate the area of
the triangle.

In [ ]:
a=int(input("Enter first side : "))
b=int(input("Enter second side : "))
c=int(input("Enter third side : "))
S=(a+b+c)/2
area = (S*(S-a)*(S-b)*(S-c))**0.5
print("Area of triangle is : ",area)

Enter first side : 15
Enter second side : 9
Enter third side : 7
Area of triangle is :  20.69269194667528

2. Take a string from end user and check if the value is palindrome or not

In [ ]:
string=input("Enter string : ")
if(string==string[::-1]):
  print("The string is palindrome")
else:
  print("The string is not a palindrome")

Enter string : malayalam
The string is palindrome

3. Write a program that reads a year from the user and displays a message
Indicating whether or not it is a leap year.

In [ ]:
year=int(input("Enter year"))
if (year%4)==0:
   if (year%100)==0:
       if (year%400)==0:
           print(year," is a leap year")
       else:
           print(year," is not a leap year")
   else:
       print(year," is a leap year")
else:
   print(year," is not a leap year")

Enter year2000
2000  is a leap year

4. Space To Hyphen problem

Take a string as input, and replaces spaces “ “ with hyphens “-”, and
returns a string.
Input: “ This program converts spaces into hyphen”
Output: “ This-program-converts-spaces-into-hyphen”

In [ ]:
str1=input("Enter string : ")
str2=str1.replace(' ','-')
print(str2)

Enter string : This program converts spaces into hyphen
This-program-converts-spaces-into-hyphen

5. Unique Sort problem
Take a string as input that accepts a comma separated sequence of words
as input and prints the unique words in sorted form (alphanumerically).
*Input*: orange, white, red, cyan, green, magenta, cyan, pink, white
*Output*: cyan, green, magenta, orange, pink, red, white

In [ ]:
items=input("Enter comma seperated sequence of words : ")
words=[word for word in items.split(",")]
print(",".join(sorted(list(set(words)))))

Enter comma seperated sequence of words : orange,white,red,cyan,green,magenta,cyan,pink,white
cyan,green,magenta,orange,pink,red,white

6. Tax Calculator
Ask the user for their monthly salary. Calculate whether they have to pay
tax and if so, how much is that amount .Print the result

In [ ]:
salary=int(input("Enter the monthly salary of user : "))
if salary<=250000:
     tax=0
     print("Tax amount to be paid is : ",tax)
elif salary>=250001 and salary<=500000:
     tax=salary*5/100
     print("Tax amount to be paid is : ",tax)
elif salary>=500001 and salary<=750000:
     tax=salary*10/100
     print("Tax amount to be paid is : ",tax)
elif salary>=750001 and salary<=1000000:
     tax=salary*15/100
     print("Tax amount to be paid is : ",tax)
elif salary>=1000001 and salary<=1250000:
     tax=salary*20/100
     print("Tax amount to be paid is : ",tax)
elif salary>=1250001 and salary<=150000:
     tax=salary*25/100
     print("Tax amount to be paid is : ",tax)
else:
     tax=salary*30/100
     print("Tax amount to be paid is : ",tax)

Enter the monthly salary of user : 450001
Tax amount to be paid is :  22500.05

7. Take a list of integers as an argument, and converts it into a single integer
(return the integer).
*Input*: [11, 33, 50]
*Output*: 113350

In [ ]:
list = [11,33,50]  
for i in list:
    print(i, end="")

113350

8. Units of Time

Create a program that reads duration from the user as a number of days,
hours, minutes, and seconds. Compute and display the total number of
seconds represented by this duration.

In [8]:
seconds_per_minute = 60
seconds_per_hour = 3600
seconds_per_day = 86400
days=int(input("Enter number of Days : "))
hours=int(input("Enter number of Hours : "))
minutes=int(input("Enter number of Minutes : "))
seconds=int(input("Enter number of Seconds : "))
total_seconds=days*seconds_per_day
total_seconds=total_seconds+(hours*seconds_per_hour)
total_seconds=total_seconds+(minutes*seconds_per_minute)
total_seconds=total_seconds+seconds
print("Total number of seconds :",total_seconds)

Enter number of Days : 5
Enter number of Hours : 36
Enter number of Minutes : 24
Enter number of Seconds : 15
Total number of seconds : 563055

9. Sort 3 Integers
Given three integers (given through user input), sort the numbers using
|min| and |max| functions.

In [23]:

integers = [9,2,53]
min_number = min(integers)
print(min_number)
integers.remove(min_number)
mid_number_min = min(integers)
print(mid_number_min)
max_number = max(integers)
print(max_number)
integers.remove(max_number)

2
9
53

10. Write a program that reads a date from the user and computes its
immediate successor. The date is the format YYYY-MM-DD. So, 2020-04-15
will have the successor 2020-04-16.

In [25]:
year = int(input("Input a year: "))
if (year % 400 == 0):
    leap_year = True
elif (year % 100 == 0):
    leap_year = False
elif (year % 4 == 0):
    leap_year = True
else:
    leap_year = False
month = int(input("Input a month : "))
if month in (1, 3, 5, 7, 8, 10, 12):
    month_length = 31
elif month == 2:
    if leap_year:
        month_length = 29
    else:
        month_length = 28
else:
    month_length = 30
day = int(input("Input a day : "))

if day < month_length:
    day += 1
else:
    day = 1
    if month == 12:
        month = 1
        year += 1
    else:
        month += 1
print("The next date is [yyyy-mm-dd] %d-%d-%d." % (year, month, day))

Input a year: 2020
Input a month : 8
Input a day : 23
The next date is [yyyy-mm-dd] 2020-8-24.

11. Compute product of a list of numbers [45 ,3,2,89,72,1,10,7]
Output: 121111200

In [28]:
def multiplyList(myList) :  
    result = 1
    for x in myList: 
         result = result * x  
    return result  
list = [45,3,2,89,72,1,10,7]  
print(multiplyList(list))

121111200

12. Compute given Num_list = [5, 6,8 ,34,89,1] to get desired output
Output: Out_list=[11,14,42,123,90]

13. Compute given Num_tuple = (5, 6,8 ,3,9,1) to get desired output
Output: Out_list = [5, 30, 240, 720, 6480, 6480]

14. Write a Python code that takes a number and returns a list of its digits. So
for 586392 it should return [5,8,6,3,9,2]

15. Write a program that finds the longest palindromic substring of a given
string

In [29]:
class Solution(object):
   def longestPalindrome(self, s):
      dp = [[False for i in range(len(s))] for i in range(len(s))]
      for i in range(len(s)):
         dp[i][i] = True
      max_length = 1
      start = 0
      for l in range(2,len(s)+1):
         for i in range(len(s)-l+1):
            end = i+l
            if l==2:
               if s[i] == s[end-1]:
                  dp[i][end-1]=True
                  max_length = l
                  start = i
            else:
               if s[i] == s[end-1] and dp[i+1][end-2]:
                  dp[i][end-1]=True
                  max_length = l
                  start = i
      return s[start:start+max_length]
ob1 = Solution()
print(ob1.longestPalindrome("ABBABBC"))

BBABB

16. Substring Check (Bug Funny)
Given two binary strings, A (of length 10) and B (of length 5), output 1 if B is
a substring of A and 0 otherwise.
First two lines of input:
1010110010 10110
1110111011 10011
First two lines of output:
1
0

17. POUR1 - Pouring water
Given two vessels, one of which can accommodate a litres of water and the other
- b litres of water, determine the number of steps required to obtain
exactly c litres of water in one of the vessels.
At the beginning both vessels are empty. The following operations are counted as
&#39;steps&#39;:
 emptying a vessel,
 filling a vessel,
 pouring water from one vessel to the other, without spilling, until one of
the vessels is either full or empty.
Input
An integer t, 1&lt;=t&lt;=100, denoting the number of testcases , followed by t sets of
input data, each consisting of three positive integers a, b, c, not larger than
40000, given in separate lines.
Output
For each set of input data, output the minimum number of steps required to
obtain c litres, or -1 if this is impossible.